body {
  color: #222;
  background-color: #FFA07A;
}

a {
  color: #2fa1d6;
  position: absolute;
  padding-left: 500px;
   font-size: 30px;
}

p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}
